services:
  rsyslog-collector:
    image: rsyslog/rsyslog-collector:latest
    container_name: rsyslog-collector
    restart: unless-stopped
    volumes:
      - ./log_data:/var/log
      - /etc/hostname:/etc/hostname:ro
    environment:
      - ENABLE_UDP=on
      - ENABLE_TCP=on
      - ENABLE_RELP=off
      - WRITE_ALL_FILE=on   # write all messages to /var/log/all.log
      - WRITE_JSON_FILE=off # write JSON formatted messages to /var/log/all-json.log
      - RSYSLOG_HOSTNAME=/etc/hostname
      - RSYSLOG_ROLE=collector
    ports:
      - 10514:514/udp    # Syslog UDP
      - 10514:514/tcp    # Syslog TCP
      # - 20514:2514/tcp   # RELP

  rsyslog-dockerlogs:
    image: rsyslog/rsyslog-dockerlogs:latest
    container_name: rsyslog-dockerlogs
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/hostname:/etc/hostname:ro
    environment:
      - REMOTE_SERVER_NAME=rsyslog-collector
      - REMOTE_SERVER_PORT=514
      - RSYSLOG_HOSTNAME=/etc/hostname
      - RSYSLOG_ROLE=docker