version: "1.1"
name: OpenRouter Query
env:
  API_KEY: sk-or-v1-XXX
  MODEL: qwen/qwen-2.5-72b-instruct:free
tests:
  example:
    steps:
      - http:
          method: POST
          url: https://openrouter.ai/api/v1/chat/completions
          headers:
            Content-Type: application/json
          auth:
            bearer:
              token: ${{env.API_KEY}}
          json:
            {
              "model": "${{env.MODEL}}",
              "messages": [
                {
                  "role": "user",
                  "content": "How many countries are in the world?"
                }
              ],
              "temperature": 1,
              "max_tokens": 256,
              "top_p": 1,
              "frequency_penalty": 0,
              "presence_penalty": 0
            }
          check:
            status: 200
            jsonpath:
              $.choices[0].message.content:
                - in: 195