# Database
storage:
  type: sqlite
  path: /data/data.db

# Prometheus
metrics: true

endpoints:
  - name: Google
    group: ping
    url: "icmp://8.8.8.8"
    interval: 5s
    conditions:
      - "[CONNECTED] == true"

  - name: "Kinozal Proxy"
    group: vercel
    url: "https://kinozal.vercel.app"
    interval: 5m
    conditions:
      - "[CERTIFICATE_EXPIRATION] > 168h"
      - "[RESPONSE_TIME] < 2s"
      - "[BODY] == pat(*only curl agent*)"

  - name: "TorAPI Provider List"
    group: vercel
    url: "https://torapi.vercel.app/api/provider/list"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 168h"
      - "[RESPONSE_TIME] < 2s"
      - "len([BODY]) == 4"
      - "len([BODY].[0].Urls) == 3"
      - "[BODY].[0].Provider == RuTracker"
      - "[BODY].[0].Provider == pat(*Tracker)"
      - "[BODY].[0].Provider == any(rutracker, RuTracker)"

  - name: "TorAPI Provider Check"
    group: vercel
    url: "https://torapi.vercel.app/api/provider/list"
    interval: 5m
    conditions:
      - "[STATUS] == 200"
      - "[CERTIFICATE_EXPIRATION] > 168h"
      - "[RESPONSE_TIME] < 2s"
      - "has([BODY].0.RuTracker) == true"
      - "has([BODY].0.Kinozal) == true"
      - "has([BODY].0.RuTor) == true"
      - "has([BODY].0.NoNameClub) == true"
