apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default
metadata:
  name: dozzle-kustomization

resources:
- service-account.yaml
- cluster-role.yaml
- cluster-role-binding.yaml
- deployment.yaml