<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1505.vea_4b_20a_4a_495">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2221.vc657003fb_d93"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2221.vc657003fb_d93">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>address</string>
        <string>port</string>
        <string>credentials</string>
        <string>sshKey</string>
        <string>getUsers</string>
        <string>rewriteKey</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
    <org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction plugin="workflow-multibranch@800.v5f0a_a_660950e">
      <jobPropertyDescriptors>
        <string>hudson.model.ParametersDefinitionProperty</string>
      </jobPropertyDescriptors>
    </org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>address</name>
          <description>Адрес удаленного сервера</description>
          <defaultValue>192.168.3.101</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>port</name>
          <description>Порт ssh</description>
          <defaultValue>22</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>credentials</name>
          <description>Идентификатор учетных данных из Jenkins</description>
          <defaultValue>15d05be6-682a-472b-9c1d-cf5080e98170</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>getUsers</name>
          <description>Получить список текущих пользователей системы</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>sshKey</name>
          <description>Открытый ssh ключ для добавления в authorized_keys</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>rewriteKey</name>
          <description>Перезаписать текущие ключи в файле authorized_keys</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>userList</name>
          <description>Выбрать пользователя</description>
          <choices>
            <string>lifailon</string>
            <string>linuxbrew</string>
            <string>root</string>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4018.vf02e01888da_f">
    <script>def remote = [:]

pipeline {
    agent any
    parameters {
        string(name: &apos;address&apos;, defaultValue: &apos;192.168.3.101&apos;, description: &apos;Адрес удаленного сервера&apos;)
        string(name: &apos;port&apos;, defaultValue: &apos;22&apos;, description: &apos;Порт ssh&apos;)
        string(name: &apos;credentials&apos;, defaultValue: &apos;15d05be6-682a-472b-9c1d-cf5080e98170&apos;, description: &apos;Идентификатор учетных данных из Jenkins&apos;)
        booleanParam(name: &quot;getUsers&quot;, defaultValue: true, description: &apos;Получить список текущих пользователей системы&apos;)
        string(name: &apos;sshKey&apos;, defaultValue: &apos;&apos;, description: &apos;Открытый ssh ключ для добавления в authorized_keys&apos;)
        booleanParam(name: &quot;rewriteKey&quot;, defaultValue: false, description: &apos;Перезаписать текущие ключи в файле authorized_keys&apos;)
    }
    stages {
        stage(&apos;Извлекаем параметры для авторизации по ssh&apos;) {
            steps {
                script {
                    withCredentials([usernamePassword(credentialsId: params.credentials, usernameVariable: &apos;SSH_USER&apos;, passwordVariable: &apos;SSH_PASS&apos;)]) {
                        remote.name = params.address
                        remote.host = params.address
                        remote.port = params.port.toInteger()
                        remote.user = env.SSH_USER
                        remote.password = env.SSH_PASS
                        remote.allowAnyHosts = true
                    }
                }
            }
        }
        stage(&apos;Обновить список пользователей&apos;) {
            when {
                expression { params.getUsers }
            }
            steps {
                script {
                    def mainCommand = &quot;echo \$(ls /home)&quot;
                    def users = sshCommand remote: remote, command: mainCommand
                    def usersList = users.trim().split(&quot;\\s&quot;)
                    usersList += &apos;root&apos;
                    def usersListChoice = usersList.toList()
                    writeFile file: &apos;user_list.txt&apos;, text: usersList.join(&quot;\\s&quot;)
                    properties([
                        parameters([
                            string(name: &apos;address&apos;, defaultValue: params.address, description: &apos;Адрес удаленного сервера&apos;),
                            string(name: &apos;port&apos;, defaultValue: params.port, description: &apos;Порт ssh&apos;),
                            string(name: &apos;credentials&apos;, defaultValue: params.credentials, description: &apos;Идентификатор учетных данных из Jenkins&apos;),
                            booleanParam(name: &quot;getUsers&quot;, defaultValue: params.getUsers, description: &apos;Получить список текущих пользователей системы&apos;),
                            string(name: &apos;sshKey&apos;, defaultValue: &apos;&apos;, description: &apos;Открытый ssh ключ для добавления в authorized_keys&apos;),
                            booleanParam(name: &quot;rewriteKey&quot;, defaultValue: false, description: &apos;Перезаписать текущие ключи в файле authorized_keys&apos;),
                            choice(
                                name: &apos;userList&apos;,
                                choices: usersListChoice,
                                description: &apos;Выбрать пользователя&apos;
                            )
                        ])
                    ])
                }
            }
        }
        stage(&apos;Добавить новый SSH ключ&apos;) {
            when {
                expression { !params.getUsers &amp;&amp; params.sshKey }
            }
            steps {
                script {
                    def selectedUser = params.userList
                    def sshKey = params.sshKey
                    if (selectedUser == &quot;root&quot;) {
                        path = &quot;/root/.ssh/authorized_keys&quot;
                    } else {
                        path= &quot;/home/${selectedUser}/.ssh/authorized_keys&quot;
                    }
                    if (params.rewriteKey) {
                        echo &quot;Обновляем все SSH ключи для пользователя: ${selectedUser}&quot;
                        teeCommand = &quot;tee&quot;
                    } else {
                        echo &quot;Добавляем новый SSH ключ для пользователя: ${selectedUser}&quot;
                        teeCommand = &quot;tee -a&quot;
                    }
                    def mainCommand = &quot;&quot;&quot;
                        checkFile=\$(ls $path 2&gt; /dev/null || echo false)
                        if [ \$checkFile == &quot;false&quot; ]; then
                            mkdir -p \$(dirname $path) &amp;&amp; touch $path
                        fi
                        echo $sshKey | $teeCommand $path &gt; /dev/null
                    &quot;&quot;&quot;
                    sshCommand remote: remote, command: mainCommand
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>