# mkdir filebrowser_database filebrowser_settings && chown -R 1000:1000 filebrowser_database filebrowser_settings

services:
  # Web File Browser
  file-browser:
    image: filebrowser/filebrowser
    container_name: file-browser
    ports:
      - 8888:80
    volumes:
      - /home/lifailon:/srv           # root directory
      - ./filebrowser_data:/database  # filebrowser.db
      - ./filebrowser_conf:/config    # settings.json
    user: 1000:1000
    restart: unless-stopped


  # Web Server Index
  h5ai:
    image: awesometic/h5ai
    container_name: h5ai
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/GMT+3
      - HTPASSWD=false
      - HTPASSWD_USER=admin
      - HTPASSWD_PW=admin
    restart: unless-stopped
    volumes:
      - ./h5ai_data:/h5ai
      - ./h5ai_conf:/config # Directory for storing public data
    ports:
      - "8889:80"