services:
  # SMB/CIFS Server
  samba:
    image: dperson/samba
    container_name: samba
    restart: unless-stopped
    volumes:
      - /home/lifailon/docker:/share
    ports:
      - 139:139
      - 445:445
    environment:
      - USERID=1000
      - GROUPID=1000
      - SAMBA_USER=admin
      - SAMBA_PASS=admin
    command: |
      -u "$${SAMBA_USER};$${SAMBA_PASS}"
      -s "docker;/share;yes;no;no;$${SAMBA_USER};$${SAMBA_USER}"
      -p

  # Web File Browser
  # mkdir filebrowser_data filebrowser_conf && chown -R 1000:1000 filebrowser_data filebrowser_conf
  file-browser:
    image: filebrowser/filebrowser
    container_name: file-browser
    restart: unless-stopped
    user: 0:0
    volumes:
      - /home/lifailon:/srv           # root directory
      - ./filebrowser_data:/database  # filebrowser.db
      - ./filebrowser_conf:/config    # settings.json
    ports:
      - 8300:80

  # Backup server for encrypted, incremental, compressed backups on local storage, cloud storage and remote file servers (FTP/S, SSH/SFTP and others)
  duplicati:
    image: lscr.io/linuxserver/duplicati:latest
    container_name: duplicati
    restart: unless-stopped
    environment:
      - PUID=0
      - PGID=0
      - TZ=Etc/UTC+3
      - SETTINGS_ENCRYPTION_KEY=DuplicatiKey
      - DUPLICATI__WEBSERVICE_PASSWORD=DuplicatiAdmin
      - CLI_ARGS=
    volumes:
      - ./duplicati_config:/config
      - ./duplicati_backup:/backups
      - /home/lifailon/docker:/source:ro
      - ./duplicati_restore:/restore
    ports:
      - 8200:8200

  # Backup server + WebUI based on cli
  # kopia:
  #   image: kopia/kopia:latest
  #   container_name: kopia
  #   restart: unless-stopped
  #   ports:
  #     - 51515:51515
  #   command:
  #     - server
  #     - start
  #     - --disable-csrf-token-checks
  #     - --insecure
  #     - --address=0.0.0.0:51515
  #     - --server-username=admin
  #     - --server-password=KopiaAdmin
  #   environment:
  #     - KOPIA_PASSWORD=KopiaAdmin
  #     - USER=User
  #   volumes:
  #       - ./kopia_config:/app/config
  #       - ./kopia_cache:/app/cache
  #       - ./kopia_logs:/app/logs
  #       - ./kopia_backup:/repository
  #       - /home/lifailon/docker:/data:ro

  # WebUI for Restic
  # backrest:
  #   image: garethgeorge/backrest:latest
  #   container_name: backrest
  #   restart: unless-stopped
  #   hostname: backrest
  #   volumes:
  #     - ./backrest/data:/data
  #     - ./backrest/config:/config
  #     - ./backrest/cache:/cache
  #     - ./backrest/tmp:/tmp
  #     - ./backrest/rclone:/root/.config/rclone  # Mount for rclone config (needed when using rclone remotes)
  #     - /path/to/backup/data:/userdata          # Mount local paths to backup
  #     - /path/to/local/repos:/repos             # Mount local repos (optional for remote storage)
  #   environment:
  #     - BACKREST_DATA=/data
  #     - BACKREST_CONFIG=/config/config.json
  #     - XDG_CACHE_HOME=/cache
  #     - TMPDIR=/tmp
  #     - TZ=Etc/UTC+3
  #   ports:
  #     - 9898:9898

  # File Synchronization
  file-syncthing:
    image: syncthing/syncthing
    container_name: file-syncthing
    restart: unless-stopped
    network_mode: host
    # ports:
    #   - 8384:8384         # Web UI
    #   - 22000:22000/tcp   # TCP file transfers
    #   - 22000:22000/udp   # QUIC file transfers
    #   - 21027:21027/udp   # Receive local discovery broadcasts
    environment:
      - PUID=0
      - PGID=0
    volumes:
      - ./syncthing_data:/var/syncthing   # configs
      - $HOME/docker:/sync_data           # src sync data on server
      # - ./backup:/sync_data             # dst sync data on client (mkdir backup && chown -R 1000:1000 backup)
    healthcheck:
      test: curl -fkLsS -m 2 127.0.0.1:8384/rest/noauth/health | grep -o --color=never OK || exit 1
      interval: 1m
      timeout: 10s
      retries: 3

  # Web Server Index
  # h5ai:
  #   image: awesometic/h5ai
  #   container_name: h5ai
  #   restart: unless-stopped
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Etc/GMT+3
  #     - HTPASSWD=false
  #     - HTPASSWD_USER=admin
  #     - HTPASSWD_PW=admin
  #   volumes:
  #     - $HOME/docker:/h5ai    # public data
  #     - ./h5ai_conf:/config
  #   ports:
  #     - 8889:80

  # FTP/S, SSH/SFTP, WebDAV and S3 server
  # sftpgo:
  #   image: drakkan/sftpgo:edge
  #   container_name: sftpgo
  #   restart: unless-stopped
  #   ports:
  #     - 2022:2022
  #     - 8088:8080