<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1505.vea_4b_20a_4a_495">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2221.vc657003fb_d93"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2221.vc657003fb_d93">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>sshPort</string>
        <string>deployPath</string>
        <string>test</string>
        <string>credentials</string>
        <string>deployServerName</string>
        <string>proxyPassword</string>
        <string>useProxy</string>
        <string>serverPort</string>
        <string>mode</string>
        <string>proxyPort</string>
        <string>testQuery</string>
        <string>proxyUser</string>
        <string>proxyAddress</string>
        <string>gitUrl</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>gitUrl</name>
          <description>Git repository URL</description>
          <choices>
            <string>https://github.com/Lifailon/TorAPI</string>
            <string>https://gitlab.com/Lifailon/TorAPI.git</string>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>deployServerName</name>
          <description>Remote server address</description>
          <defaultValue>192.168.3.101</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>sshPort</name>
          <description>SSH port for remote server</description>
          <defaultValue>2121</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>credentials</name>
          <description>SSH Credentials ID</description>
          <defaultValue>d5da50fc-5a98-44c4-8c55-d009081a861a</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>deployPath</name>
          <description>Path target for deploy</description>
          <defaultValue>/home/lifailon/TorAPI</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>serverPort</name>
          <description>Port number for start server</description>
          <defaultValue>8443</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>useProxy</name>
          <description>Use proxy server</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>proxyAddress</name>
          <description>Address proxy server</description>
          <defaultValue>192.168.3.100</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>proxyPort</name>
          <description>Port number for proxy server</description>
          <defaultValue>9090</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>proxyUser</name>
          <description>Username for proxy</description>
          <defaultValue>TorAPI</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>proxyPassword</name>
          <description>Password for proxy</description>
          <defaultValue>{AQAAABAAAAAQbBgm7HiJvtIdpiszX0ItAiceklLH+v6gBgXr2LQNsi8=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>mode</name>
          <description>Select mode</description>
          <choices>
            <string>Local build</string>
            <string>Docker build</string>
            <string>Restart</string>
            <string>Stop</string>
            <string>Logs</string>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>test</name>
          <description>Run postman tests</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>testQuery</name>
          <description>Search request for testing via Postman</description>
          <defaultValue>The+Rookie</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4018.vf02e01888da_f">
    <script>def remote = [:]

pipeline {
    agent any
    parameters {
        choice(
            name: &quot;gitUrl&quot;,
            choices: [
                &quot;https://github.com/Lifailon/TorAPI&quot;,
                &quot;https://gitlab.com/Lifailon/TorAPI.git&quot;
            ],
            description: &quot;Git repository URL&quot;
        )
        string(
            name: &apos;deployServerName&apos;,
            defaultValue: &apos;192.168.3.101&apos;,
            description: &apos;Remote server address&apos;
        )
        string(
            name: &apos;sshPort&apos;,
            defaultValue: &apos;2121&apos;, description:
            &apos;SSH port for remote server&apos;
        )
        string(
            name: &apos;credentials&apos;,
            defaultValue: &apos;d5da50fc-5a98-44c4-8c55-d009081a861a&apos;,
            description: &apos;SSH Credentials ID&apos;
        )
        string(
            name: &apos;deployPath&apos;,
            defaultValue: &apos;/home/lifailon/TorAPI&apos;,
            description: &apos;Path target for deploy&apos;
        )
        string(
            name: &apos;serverPort&apos;,
            defaultValue: &apos;8443&apos;,
            description: &apos;Port number for start server&apos;
        )
        booleanParam(
            name: &quot;useProxy&quot;,
            defaultValue: true,
            description: &apos;Use proxy server&apos;
        )
        string(
            name: &apos;proxyAddress&apos;,
            defaultValue: &apos;192.168.3.100&apos;,
            description: &apos;Address proxy server&apos;
        )
        string(
            name: &apos;proxyPort&apos;,
            defaultValue: &apos;9090&apos;,
            description: &apos;Port number for proxy server&apos;
        )
        string(
            name: &apos;proxyUser&apos;,
            defaultValue: &apos;TorAPI&apos;,
            description: &apos;Username for proxy&apos;
        )
        password(
            name: &apos;proxyPassword&apos;,
            defaultValue: &apos;TorAPI&apos;,
            description: &apos;Password for proxy&apos;
        )
        choice(
            name: &quot;mode&quot;,
            choices: [
                &quot;Local build&quot;,
                &quot;Docker build&quot;,
                &quot;Restart&quot;,
                &quot;Stop&quot;,
                &quot;Logs&quot;
            ],
            description: &quot;Select mode&quot;
        )
        booleanParam(
            name: &quot;test&quot;,
            defaultValue: false,
            description: &apos;Run postman tests&apos;
        )
        string(
            name: &apos;testQuery&apos;,
            defaultValue: &apos;The+Rookie&apos;,
            description: &apos;Search request for testing via Postman&apos;
        )
    }
    environment {
        SSH_KEY_FILE = &quot;/tmp/ssh_key_${UUID.randomUUID().toString()}&quot;
    }
    stages {
        stage(&apos;Get credentials for ssh&apos;) {
            steps {
                script {
                    withCredentials([sshUserPrivateKey(credentialsId: params.credentials, usernameVariable: &apos;SSH_USER&apos;, keyFileVariable: &apos;SSH_KEY&apos;, passphraseVariable: &apos;&apos;)]) {
                        writeFile(file: env.SSH_KEY_FILE, text: readFile(SSH_KEY))
                        sh &quot;chmod 600 ${env.SSH_KEY_FILE}&quot;
                        remote.name = params.deployServerName
                        remote.host = params.deployServerName
                        remote.port = params.sshPort.toInteger()
                        remote.user = SSH_USER
                        remote.identityFile = env.SSH_KEY_FILE
                        remote.allowAnyHosts = true
                    }
                }
            }
        }
        stage(&apos;Stop server&apos;) {
            when {
                expression {
                    params.mode != &quot;Logs&quot;
                }
            }
            steps {
                script {
                    sshCommand remote: remote, command: &quot;&quot;&quot;
                        echo &quot; ---&gt; Check local path: ${params.deployPath}&quot;
                        testPath=\$(ls ${params.deployPath} 2&gt; /dev/null || echo false)
                        if [ &quot;\$testPath&quot; != &quot;false&quot; ]; then
                            testPort=\$(ss -tunelp | grep ${params.serverPort})
                            if [ -n &quot;\$testPort&quot; ]; then
                                echo &quot; ---&gt; Stopping local server&quot;
                                echo &quot; ---&gt; Port: ${params.serverPort}&quot;
                                pid=\$(echo \$testPort | grep -oP &apos;pid=\\K\\d+&apos;)
                                echo &quot; ---&gt; PID: \$pid&quot;
                                kill \$pid
                            else
                                echo &quot; ---&gt; Local server not running&quot;
                            fi
                        else
                            echo &quot; ---&gt; Local server not installed&quot;
                        fi
                        echo &quot; ---&gt; Check docker container&quot;
                        dockerCheck=\$(docker ps -a | grep TorAPI || true)
                        if [ -n &quot;\$dockerCheck&quot; ]; then
                            echo &quot; ---&gt; Check docker status&quot;
                            dockerStatus=\$(docker inspect --format &apos;{{.State.Status}}&apos; TorAPI)
                            if [ \$dockerStatus == &quot;running&quot; ]; then
                                echo &quot; ---&gt; Stopping docker container&quot;
                                docker stop TorAPI
                            else
                                echo &quot; ---&gt; Docker container not running&quot;
                                echo &quot; ---&gt; Status: \$dockerStatus&quot;
                            fi
                        else
                            echo &quot; ---&gt; Docker container not found&quot;
                        fi
                    &quot;&quot;&quot;
                }
            }
        }
        stage(&apos;Local build&apos;) {
            when {
                expression {
                    params.mode == &quot;Local build&quot; || params.mode == &quot;Docker build&quot;
                }
            }
            steps {
                script {
                    sshCommand remote: remote, command: &quot;&quot;&quot;
                        echo &quot; ---&gt; Remove old code&quot;
                        rm -r -f ${params.deployPath} 2&gt; /dev/null
                        echo &quot; ---&gt; Clone repository&quot;
                        git clone ${params.gitUrl}
                        cd ${params.deployPath}
                        echo &quot; ---&gt; Install dependencies&quot;
                        npm install
                        npm update
                    &quot;&quot;&quot;
                }
            }
        }
        stage(&apos;Docker build&apos;) {
            when {
                expression {
                    params.mode == &quot;Docker build&quot;
                }
            }
            steps {
                script {
                    def mainCommand
                    if (params.useProxy &amp;&amp; params.proxyUser.size() &gt; 0) {
                        mainCommand = &quot;&quot;&quot;
                            echo &quot; ---&gt; Build container using proxy with authentication&quot;
                            cd ${params.deployPath}
                            dockerCheck=\$(docker ps -a | grep TorAPI || true)
                            if [ -n &quot;\$dockerCheck&quot; ]; then
                                echo &quot; ---&gt; Remove container and image&quot;
                                docker stop TorAPI
                                docker rm TorAPI
                                docker rmi -f torapi
                                docker rmi -f node:alpine
                            fi
                            docker build -t torapi .
                            docker run -d --name TorAPI \
                                -p ${params.serverPort}:${params.serverPort} --restart=unless-stopped \
                                -e PROXY_ADDRESS=${params.proxyAddress} -e PROXY_PORT=${params.proxyPort} \
                                -e USERNAME=${params.proxyUser} -e PASSWORD=${params.proxyPassword} \
                                torapi
                            echo &quot; ---&gt; Remove code&quot;
                            cd \$HOME
                            rm -r ${params.deployPath}
                        &quot;&quot;&quot;
                    } else if (params.useProxy) {
                        mainCommand = &quot;&quot;&quot;
                            echo &quot; ---&gt; Build container using proxy without authentication&quot;
                            cd ${params.deployPath}
                            dockerCheck=\$(docker ps -a | grep TorAPI || true)
                            if [ -n &quot;\$dockerCheck&quot; ]; then
                                echo &quot; ---&gt; Remove container and image&quot;
                                docker stop TorAPI
                                docker rm TorAPI
                                docker rmi -f torapi
                                docker rmi -f node:alpine
                            fi
                            docker build -t torapi .
                            docker run -d --name TorAPI \
                                -p ${params.serverPort}:${params.serverPort} --restart=unless-stopped \
                                -e PROXY_ADDRESS=${params.proxyAddress} -e PROXY_PORT=${params.proxyPort} \
                                torapi
                            echo &quot; ---&gt; Remove code&quot;
                            cd \$HOME
                            rm -r ${params.deployPath}
                        &quot;&quot;&quot;
                    } else {
                        mainCommand = &quot;&quot;&quot;
                            echo &quot; ---&gt; Build container without proxy&quot;
                            cd ${params.deployPath}
                            dockerCheck=\$(docker ps -a | grep TorAPI || true)
                            if [ -n &quot;\$dockerCheck&quot; ]; then
                                echo &quot; ---&gt; Remove container and image&quot;
                                docker stop TorAPI
                                docker rm TorAPI
                                docker rmi -f torapi
                                docker rmi -f node:alpine
                            fi
                            docker build -t torapi .
                            docker run -d --name TorAPI \
                                -p ${params.serverPort}:${params.serverPort} --restart=unless-stopped \
                                torapi
                            echo &quot; ---&gt; Remove code&quot;
                            cd \$HOME
                            rm -r ${params.deployPath}
                        &quot;&quot;&quot;
                    }
                    sshCommand remote: remote, command: mainCommand
                }
            }
        }
        stage(&apos;Restart server&apos;) {
            when {
                expression {
                    params.mode == &quot;Restart&quot; || params.mode == &quot;Local build&quot; || params.mode == &quot;Docker build&quot;
                }
            }
            steps {
                script {
                    sshCommand remote: remote, command: &quot;&quot;&quot;
                        testPath=\$(ls ${params.deployPath} 2&gt; /dev/null || echo false)
                        if [ &quot;\$testPath&quot; != &quot;false&quot; ]; then
                            cd ${params.deployPath}
                            echo &quot; ---&gt; Start local server&quot;
                                if [[ &quot;${params.useProxy}&quot; == &quot;true&quot; &amp;&amp; -n &quot;${params.proxyUser}&quot; ]]; then
                                    nohup npm start -- --port ${params.serverPort} \
                                        --proxyAddress ${params.proxyAddress} --proxyPort ${params.proxyPort} \
                                        --username ${params.proxyUser} --password ${params.proxyPassword} &gt;&gt; torapi.log 2&gt;&amp;1 &amp;
                                elif [ &quot;${params.useProxy}&quot; == &quot;true&quot; ]; then
                                    nohup npm start -- --port ${params.serverPort} \
                                        --proxyAddress ${params.proxyAddress} --proxyPort ${params.proxyPort} &gt;&gt; torapi.log 2&gt;&amp;1 &amp;
                                else
                                    nohup npm start -- --port ${params.serverPort} &gt;&gt; torapi.log 2&gt;&amp;1 &amp;
                                fi
                        else
                            echo &quot; ---&gt; Start docker container&quot;
                            docker start TorAPI
                        fi
                    &quot;&quot;&quot;
                }
            }
        }
        stage(&apos;Postman tests&apos;) {
            when {
                expression {
                    params.test &amp;&amp; params.mode.contains(&quot;build&quot;)
                }
            }
            steps {
                script {
                    sshCommand remote: remote, command: &quot;&quot;&quot;
                        newman run https://raw.githubusercontent.com/Lifailon/TorAPI/refs/heads/main/postman-tests.json \
                            --iteration-count 1 \
                            --env-var &quot;baseUrl=http://localhost:8443&quot; \
                            --env-var &quot;query=${params.testQuery}&quot; \
                            --env-var &quot;queryAllPage=test&quot; \
                            --env-var &quot;categoryRuTracker=1605&quot; \
                            --env-var &quot;categoryKinozal=20&quot; \
                            --env-var &quot;categoryRuTor=10&quot; \
                            --env-var &quot;categoryNoNameClub=1318&quot; \
                            --reporters cli,junit \
                            --reporter-junit-export postman-results.xml \
                            --suppress-exit-code
                    &quot;&quot;&quot;
                    sshGet remote: remote, from: &quot;postman-results.xml&quot;, into: &quot;${env.WORKSPACE}/postman-results.xml&quot;, override: true
                    sshCommand remote: remote, command: &quot;rm postman-results.xml&quot;
                }
            }
        }
        stage(&apos;Get junit postman results&apos;) {
            when {
                expression {
                    params.test &amp;&amp; params.mode.contains(&quot;build&quot;)
                }
            }
            steps {
                junit &apos;**/postman-results.xml&apos;
            }
        }
        stage(&apos;Get logs&apos;) {
            when {
                expression {
                    params.mode == &quot;Logs&quot;
                }
            }
            steps {
                script {
                    def readLog = sshCommand remote: remote, command: &quot;&quot;&quot;
                        dockerCheck=\$(docker ps -a | grep TorAPI || true)
                        if [ -n &quot;\$dockerCheck&quot; ]; then
                            docker logs TorAPI
                        else
                            cd ${params.deployPath}
                            cat &quot;torapi.log&quot;
                        fi
                    &quot;&quot;&quot;
                    writeFile file: &apos;torapi.log&apos;, text: readLog
                }
                archiveArtifacts artifacts: &apos;torapi.log&apos;, allowEmptyArchive: true
            }
        }
    }
    post {
        always {
            script {
                sh &quot;rm -f ${env.SSH_KEY_FILE}&quot;
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>