apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: dozzle-kustomization

resources:
- namespace.yaml
- serviceaccount.yaml
- clusterrole.yaml
- clusterrolebinding.yaml
- deployment.yaml
- service.yaml