apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring
metadata:
  name: dozzle-kustomization

resources:
# - namespace.yaml
- service-account.yaml
- cluster-role.yaml
- cluster-role-binding.yaml
- deployment.yaml
- secrets.yaml
- service.yaml
- ingress.yaml