apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  source:
    path: Kubernetes/traefik-ingress
    repoURL: https://github.com/Lifailon/rudocs
    targetRevision: rsa
  sources: []
  project: default
  syncPolicy:
    automated: null