<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1505.vea_4b_20a_4a_495">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2221.vc657003fb_d93"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2221.vc657003fb_d93">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <org.biouno.unochoice.ChoiceParameter plugin="uno-choice@2.8.6">
          <name>Repos</name>
          <randomName>choice-parameter-90183213639819</randomName>
          <visibleItemCount>2</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1373.vb_b_4a_a_c26fa_00">
              <script>return [
    &apos;Lifailon/lazyjournal&apos;,
    &apos;jesseduffield/lazydocker&apos;
]</script>
              <sandbox>true</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1373.vb_b_4a_a_c26fa_00">
              <script></script>
              <sandbox>true</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>GitHub Deploy</projectName>
          <projectFullName>GitHub Deploy</projectFullName>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>false</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.ChoiceParameter>
        <org.biouno.unochoice.CascadeChoiceParameter plugin="uno-choice@2.8.6">
          <name>Versions</name>
          <randomName>choice-parameter-90183234611338</randomName>
          <visibleItemCount>9</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1373.vb_b_4a_a_c26fa_00">
              <script>import groovy.json.JsonSlurper
def selectedRepo = Repos
def apiUrl = &quot;https://api.github.com/repos/${selectedRepo}/tags&quot;
def conn = new URL(apiUrl).openConnection()
conn.setRequestProperty(&quot;User-Agent&quot;, &quot;Jenkins&quot;)
def response = conn.getInputStream().getText()
def json = new JsonSlurper().parseText(response)
def versionsCount = json.size()
def data = []
for (int i = 0; i &lt; versionsCount; i++) {
    data += json.name[i]
}
return data</script>
              <sandbox>true</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1373.vb_b_4a_a_c26fa_00">
              <script></script>
              <sandbox>true</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>GitHub Deploy</projectName>
          <projectFullName>GitHub Deploy</projectFullName>
          <parameters class="linked-hash-map">
            <entry>
              <string>Repos</string>
              <string>Lifailon/lazyjournal</string>
            </entry>
          </parameters>
          <referencedParameters>Repos</referencedParameters>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>true</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.CascadeChoiceParameter>
        <org.biouno.unochoice.CascadeChoiceParameter plugin="uno-choice@2.8.6">
          <name>Files</name>
          <randomName>choice-parameter-90183240730131</randomName>
          <visibleItemCount>10</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1373.vb_b_4a_a_c26fa_00">
              <script>import groovy.json.JsonSlurper
def selectedRepo = Repos
def selectedVer = Versions
def apiUrl = &quot;https://api.github.com/repos/${selectedRepo}/releases/tags/${selectedVer}&quot;
def conn = new URL(apiUrl).openConnection()
conn.setRequestProperty(&quot;User-Agent&quot;, &quot;Jenkins&quot;)
def response = conn.getInputStream().getText()
def json = new JsonSlurper().parseText(response)
def data = []
for (file in json.assets) {
    data += file.name
}
return data</script>
              <sandbox>true</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1373.vb_b_4a_a_c26fa_00">
              <script></script>
              <sandbox>true</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>GitHub Deploy</projectName>
          <projectFullName>GitHub Deploy</projectFullName>
          <parameters class="linked-hash-map">
            <entry>
              <string>Repos</string>
              <string>Lifailon/lazyjournal</string>
            </entry>
            <entry>
              <string>Versions</string>
              <string>0.7.2</string>
            </entry>
          </parameters>
          <referencedParameters>Repos,Versions</referencedParameters>
          <choiceType>PT_SINGLE_SELECT</choiceType>
          <filterable>false</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.CascadeChoiceParameter>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4018.vf02e01888da_f">
    <script>pipeline {
    agent any
    stages {
        stage(&apos;Selected parameters&apos;) {
            steps {
                script {
                    echo &quot;Selected repository: https://github.com/${params.Repos}&quot;
                    echo &quot;Selected version: ${params.Versions}&quot;
                    echo &quot;Selected file: ${params.Files}&quot;
                    echo &quot;Url for download: https://github.com/${params.Repos}/releases/download/${params.Versions}/${params.Files}&quot;
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>