services:
  # sudo mkdir -p ./netalertx_data/db ./netalertx_data/config
  # sudo chown -R 20211:20211 ./netalertx_data
  # sudo chmod -R 775 ./netalertx_data
  # sudo rm -f ./netalertx_data/db/app.db
  netalertx:
    image: jokobsk/netalertx:latest
    container_name: netalertx
    restart: unless-stopped
    read_only: true
    mem_limit: 2048m
    mem_reservation: 1024m
    cpu_shares: 512
    pids_limit: 512
    user: 20211:20211
    network_mode: host
    cap_drop:
      - ALL
    cap_add:
      - NET_ADMIN         # Требуется для сканирования ARP 
      - NET_RAW           # Требуется для операций с необработанными сокетами
      - NET_BIND_SERVICE  # Требуется для привязки к привилегированным портам (nbtscan)
    volumes:
      - ./netalertx_data:/data
      - /etc/localtime:/etc/localtime:ro
    tmpfs:
      - /tmp:uid=20211,gid=20211,mode=1700,rw,noexec,nosuid,nodev,async,noatime,nodiratime
    environment:
      - LISTEN_ADDR=0.0.0.0
      - PORT=20211
      - GRAPHQL_PORT=20212
      - ALWAYS_FRESH_INSTALL=false
      - NETALERTX_DEBUG=0

  # Web Dashbord for nmap XML reports
  # nmap -sT -A -T4 -oX ./nmap_reports/network.xml 192.168.3.0/24
  webmap:
    image: reborntc/webmap:latest
    container_name: webmap
    restart: unless-stopped
    ports:
      - 7005:8000
    volumes:
      - ./nmap_reports:/opt/xml

  # Network Traffic Monitoring
  ntopng:
    image: ntop/ntopng:latest
    container_name: ntopng
    restart: unless-stopped
    volumes:
      - ./ntopng_data:/var/lib/ntopng
    # command: --community -d /var/lib/ntopng -i eth0 -r ntopng-redis:6379@0 -w 0.0.0.0:3080
    command: --community -d /var/lib/ntopng -i eth0 -r localhost:6379@0 -w 0.0.0.0:3080
    network_mode: host
    # ports:
    #   - 3080:3080

  ntopng-redis:
    image: redis:alpine
    restart: unless-stopped
    container_name: ntopng-redis
    volumes:
      - ./ntopng_redis:/data
    command: --save 900 1
    ports:
      - 6379:6379

  # 100+ offline-first networking tools and utilities
  networking-toolbox:
    image: lissy93/networking-toolbox:latest
    container_name: networking-toolbox
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=3000
      - HOST=0.0.0.0
    ports:
      - 3100:3000
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:3000/health"]
      start_period: 40s
      interval: 30s
      timeout: 10s
      retries: 3

  # All-in-one OSINT tool for analysing any Web site.
  web-check:
    image: lissy93/web-check:latest
    container_name: web-check
    restart: unless-stopped
    ports:
      - 3101:3000

  # IP Toolbox (check DNS, website availability, speedtest, ping and mtr tests)
  ip-check:
    container_name: ip-check
    image: jason5ng32/myip:latest
    restart: unless-stopped
    stdin_open: true
    tty: true
    ports:
      - 3102:18966

  # RTSP Client
  rtsptoweb:
    image: ghcr.io/deepch/rtsptoweb:latest
    container_name: rtsp-to-web
    restart: unless-stopped
    # volumes:
    #   - ./rtsp_config/config.json:/config/config.json
    ports:
      - 8083:8083

  # SMTP Server and Client
  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    restart: unless-stopped
    volumes:
      - ./mailpit_data:/data
    environment:
      - TZ=Etc/GMT+3
      - MP_DATABASE=/data/mailpit.db
      # - MP_UI_AUTH_FILE=/data/authfile
      - MP_SMTP_AUTH_ACCEPT_ANY=1
      - MP_SMTP_AUTH_ALLOW_INSECURE=1
    ports:
      - 8125:8025
      - 8225:1025