services:
  traefik:
    image: traefik:v3
    container_name: traefik
    restart: always
    network_mode: host
    # ports:
    #   - 8080:8080   # web ui
    #   - 80:80       # http proxy
    #   - 443:443     # https proxy
    #   - 4318:4318   # prometheus metrics
    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yml
      - /var/run/docker.sock:/var/run/docker.sock:ro

  # tech-dns-srv:
  #   image: technitium/dns-server:latest
  #   container_name: tech-dns-srv
  #   restart: always
  #   ports:
  #     - 5380:5380/tcp
  #     - 53:53/udp
  #     - 53:53/tcp
  #   environment:
  #     - DNS_SERVER_DOMAIN=dns-server
  #     - DNS_SERVER_FORWARDERS=1.1.1.1,8.8.8.8
  #     - DNS_SERVER_BLOCK_LIST_URLS=https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
  #   volumes:
  #     - ./dns_data:/etc/dns
  #   sysctls:
  #     - net.ipv4.ip_local_port_range=1024 65000
  #   labels:
  #     - traefik.enable=true
  #     - traefik.http.routers.tech-dns-srv.rule=Host(`dns.docker.local`)
  #     - traefik.http.routers.tech-dns-srv.middlewares=auth
  #     # htpasswd -nbB admin admin
  #     - traefik.http.middlewares.auth.basicauth.users=admin:$$2y$$05$$c0r5A6SCKX4R6FjuCgRqrufbIE5tmXw2sDPq1vZ8zNrrwNZIH9jgW
  #     - traefik.http.services.tech-dns-srv.loadbalancer.server.port=5380