services:
  tech-dns-srv:
    image: technitium/dns-server:latest
    container_name: tech-dns-srv
    restart: always
    volumes:
      - ./dns_data:/etc/dns
    environment:
      - DNS_SERVER_DOMAIN=dns.docker.local
      - DNS_SERVER_FORWARDERS=1.1.1.1,8.8.8.8
      - DNS_SERVER_BLOCK_LIST_URLS=https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
    network_mode: host
    # ports:
    #   - 5380:5380/tcp
    #   - 53:53/udp
    #   - 53:53/tcp
    #   - 53443:53443/tcp
    # sysctls:
    #   - net.ipv4.ip_local_port_range=1024 65000
    labels:
      - traefik.enable=true
      - traefik.http.routers.tech-dns-srv.rule=Host(`dns.docker.local`)
      - traefik.http.services.tech-dns-srv.loadbalancer.server.port=5380

  traefik:
    image: traefik:v3
    container_name: traefik
    restart: always
    # Используем режим хоста для доступа к сети всех контейнеров 
    network_mode: host
    # ports:
    #   - 8080:8080   # Web UI
    #   - 80:80       # HTTP Proxy
    #   - 443:443     # HTTPS Proxy
    #   - 4318:4318   # Prometheus Metrics
    dns:
      - 127.0.0.1
    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yml
      - ./rules:/rules
      - /var/run/docker.sock:/var/run/docker.sock:ro
    healthcheck:
      test: wget -qO- http://127.0.0.1:8080/ping
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 5
    labels:
      # Включаем маршрутизацию и определяем имя хоста
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`traefik.docker.local`)
      # Указываем порт назначения в контейнере (если используется несколько портов)
      - traefik.http.services.traefik.loadbalancer.server.port=8080
      # Создаем базовую авторизацию
      - traefik.http.middlewares.basic-auth-traefik.basicauth.users=admin:$$2y$$05$$c0r5A6SCKX4R6FjuCgRqrufbIE5tmXw2sDPq1vZ8zNrrwNZIH9jgW # htpasswd -nbB admin admin
      # Включаем базовую авторизацию в маршрутизацию текущего сервиса
      - traefik.http.routers.traefik.middlewares=basic-auth-traefik
      # Настраиваем подключение к Authentik
      # - traefik.http.middlewares.authentik.forwardauth.address=http://192.168.3.101:9000/outpost.goauthentik.io/auth/traefik
      # - traefik.http.middlewares.authentik.forwardauth.trustForwardHeader=true
      # - traefik.http.middlewares.authentik.forwardauth.authResponseHeaders=X-authentik-username,X-authentik-groups,X-authentik-entitlements,X-authentik-email,X-authentik-name,X-authentik-uid,X-authentik-jwt,X-authentik-meta-jwks,X-authentik-meta-outpost,X-authentik-meta-provider,X-authentik-meta-app,X-authentik-meta-version
      # Включаем авторизацию через Authentik из провайдера Docker
      # - traefik.http.routers.traefik.middlewares=authentik@docker
      # Включаем авторизацию через Authentik из провайдера file
      # - traefik.http.routers.traefik.middlewares=authentik@file

  jaeger:
    image: jaegertracing/all-in-one:1.55
    container_name: jaeger
    restart: always
    ports:
      - 16686:16686 # UI
      - 4317:4317   # Collector
    labels:
      - traefik.http.services.jaeger.loadbalancer.server.port=16686
      # Разрешить Traefik перенаправлять запросы на выключенный контейнер
      - traefik.docker.allownonrunning=true
      # Включаем Sablier для контейнера
      - sablier.enable=true
      - sablier.group=main
      # Подключаем настройки Sablier из файла
      - traefik.http.routers.jaeger.middlewares=sablier@file
      # - traefik.http.routers.jaeger.middlewares=jaeger-sablier
      # - traefik.http.middlewares.jaeger-sablier.plugin.sablier.sablierUrl=http://127.0.0.1:10000
      # - traefik.http.middlewares.jaeger-sablier.plugin.sablier.group=main
      # - traefik.http.middlewares.jaeger-sablier.plugin.sablier.sessionDuration=60m
      # - traefik.http.middlewares.jaeger-sablier.plugin.sablier.ignoreUserAgent=curl
      # - traefik.http.middlewares.jaeger-sablier.plugin.sablier.dynamic.showDetails=true
      # - traefik.http.middlewares.jaeger-sablier.plugin.sablier.dynamic.theme=ghost # hacker-terminal or matrix
      # - traefik.http.middlewares.jaeger-sablier.plugin.sablier.dynamic.refreshTimer=5s

  sablier:
    image: sablierapp/sablier:latest
    container_name: sablier
    restart: always
    ports:
      - 10000:10000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command:
      - start
      - --provider.name=docker
      - --sessions.default-duration=5m
      - --server.port=10000