apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: dozzle-kustomization

resources:
- service-account.yaml
- deployment.yaml
- service.yaml

configMapGenerator:
- name: gatus-config
  files:
    - config.yaml