apiVersion: v1
kind: Service
metadata:
  name: gatus
  namespace: rest-api
spec:
  type: NodePort
  ports:
    - name: http
      protocol: TCP
      targetPort: 8080
      port: 8080
      nodePort: 30081
  selector:
    app: gatus