<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1532.va_9a_d244074a_3">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2255.v56a_15e805f12"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2255.v56a_15e805f12">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>address</string>
        <string>port</string>
        <string>credentials</string>
        <string>commands</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>address</name>
          <description>Адрес удаленного сервера</description>
          <defaultValue>192.168.3.105</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>port</name>
          <description>Порт ssh для подключения</description>
          <defaultValue>2121</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>credentials</name>
          <description>Идентификатор учетных данных в Jenkins для подключения по ssh</description>
          <defaultValue>d5da50fc-5a98-44c4-8c55-d009081a861a</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>commands</name>
          <description>Список команд с новой строки</description>
          <defaultValue>uname -a
uptime
df -h
lsblk</defaultValue>
          <trim>false</trim>
        </hudson.model.TextParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4106.v7a_8a_8176d450">
    <script>// Глобальный массив для хранения данных подключения по ssh 
def remote = [:]

pipeline {
    agent { label &apos;local-agent&apos; }
    parameters {
        string(name: &apos;address&apos;, defaultValue: &apos;192.168.3.105&apos;, description: &apos;Адрес удаленного сервера&apos;)
        string(name: &apos;port&apos;, defaultValue: &apos;2121&apos;, description: &apos;Порт ssh для подключения&apos;)
        string(name: &apos;credentials&apos;, defaultValue: &apos;d5da50fc-5a98-44c4-8c55-d009081a861a&apos;, description: &apos;Идентификатор учетных данных в Jenkins для подключения по ssh&apos;)
        text(name: &apos;commands&apos;, defaultValue: &apos;uname -a\nuptime\ndf -h\nlsblk&apos;, description: &apos;Список команд с новой строки&apos;)
    }
    environment {
        SSH_KEY_FILE = &quot;/tmp/ssh_key_${UUID.randomUUID().toString()}&quot;
    }
    stages {
        stage(&apos;Get ssh credentials&apos;) {
            steps {
                script {
                    withCredentials([sshUserPrivateKey(credentialsId: params.credentials, usernameVariable: &apos;SSH_USER&apos;, keyFileVariable: &apos;SSH_KEY&apos;, passphraseVariable: &apos;&apos;)]) {
                        writeFile(file: env.SSH_KEY_FILE, text: readFile(SSH_KEY))
                        sh &quot;chmod 600 ${env.SSH_KEY_FILE}&quot;
                        remote.name = params.address
                        remote.host = params.address
                        remote.port = params.port.toInteger()
                        remote.user = SSH_USER
                        remote.identityFile = env.SSH_KEY_FILE
                        remote.allowAnyHosts = true
                    }
                }
            }
        }
        stage(&apos;Parallel run commands&apos;) {
            steps {
                script {
                    // Создаем пустую карту
                    def branches = [:]
                    // Разбиваем параметр на массив из строк
                    def commandsList = params.commands.split(&apos;\n&apos;).collect { it.trim() }.findAll { it }
                    for (int i = 0; i &lt; commandsList.size(); i++) {
                        def cmd = commandsList[i]
                        def cmdCopy = cmd
                        // Заполняем карту командами
                        branches[&quot;Command ${i+1}&quot;] = {
                            try {
                                sshCommand remote: remote, command: cmdCopy
                            } catch (err) {
                                echo &quot;Команда ${cmdCopy} завершилась с ошибкой: ${err}&quot;
                            }
                        }
                    }
                    // Запускаем параллельное выполнение команд
                    parallel branches
                    sleep 1
                }
            }
        }
    }
    post {
        always {
            script {
                sh &quot;rm -f ${env.SSH_KEY_FILE}&quot;
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>