<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="type" value="influxdb" />
    <add key="influx_address" value="https://192.168.3.101:8086" />
    <add key="influx_db" value="ohm" />
    <add key="influx_user" value="admin" />
    <add key="influx_password" value="admin" />
    <add key="interval" value="5" />
  </appSettings>
</configuration>