services:
  # Web interface for docker manager on remote hosts via lazydocker or ctop
  docker-web-manager:
    image: lifailon/docker-web-manager:latest
    container_name: docker-web-manager
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - $HOME/.ssh/id_rsa:/root/.ssh/id_rsa
    environment:
      - WEB_USERNAME=admin
      - WEB_PASSWORD=admin
      - SSH_HOSTS=localhost,192.168.3.105,192.168.3.106
      - SSH_USER=lifailon
      - SSH_PORT=2121
      - DOCKER_CLIENT=lazydocker
    ports:
      - 3333:3333

  # Web interface for docker managing containers
  # dweebui:
  #   image: lllllllillllllillll/dweebui:latest
  #   container_name: dweebui
  #   restart: always
  #   environment:
  #     - PORT=8000
  #     - SECRET=AdminSecret # for registration
  #   volumes:
  #     - ./dweebui_data:/app/config
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   ports:
  #     - 8000:8000

  # Web interface for docker containers (defining traefik tags and image updates, without control)
  # dockpeek:
  #   image: ghcr.io/dockpeek/dockpeek:latest
  #   container_name: dockpeek
  #   restart: always
  #   environment:
  #     - SECRET_KEY=AdminSecret
  #     - USERNAME=admin
  #     - PASSWORD=admin
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   ports:
  #     - 3420:8000

################################################### Compose ###################################################

  # Web interface for Docker Compose
  dockge:
    image: louislam/dockge:1
    container_name: dockge
    restart: always
    volumes:
      - ./dockge_data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
      # Docker stacks directory on host:container
      - /home/lifailon/docker:/home/lifailon/docker
    # Enable routing for traffic
    # labels:
    #   - traefik.enable=true
    environment:
      # Enable routing for docker-gen
      # - VIRTUAL_HOST=dockge.local
      - DOCKGE_STACKS_DIR=/home/lifailon/docker
      # Доступ к консоли dockge
      - DOCKGE_ENABLE_CONSOLE=true
    ports:
      - 5001:5001

  # Web interface to manage Docker containers, compose, files, databases, websites and LLMs
  1panel:
    image: moelin/1panel:latest
    container_name: 1panel
    restart: always
    ports:
      - 10086:10086 # http://1panel.docker.local/entrance 1panel:1panel_password
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      # - /home/lifailon/docker:/etc/docker  # Docker Compose root directroy
      - /home/lifailon/docker:/opt/1panel/docker/compose  # Docker Compose root directroy
      - /opt:/opt
      # - /root:/root
    labels:
      createdBy: Apps

  # Web interface for Docker (like Dockge)
  # dockman:
  #   container_name: dockman
  #   image: ghcr.io/ra341/dockman:latest
  #   restart: always
  #   environment:
  #     - DOCKMAN_MACHINE_ADDR=192.168.3.101
  #     - DOCKMAN_PORT=8866
  #     - DOCKMAN_COMPOSE_ROOT=/home/lifailon/docker
  #     - DOCKMAN_AUTH_ENABLE=true
  #     - DOCKMAN_AUTH_USERNAME=admin
  #     - DOCKMAN_AUTH_PASSWORD=admin
  #     - DOCKMAN_LOG_LEVEL=debug
  #     - DOCKMAN_LOG_VERBOSE=true
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     # Stack directory
  #     - /home/lifailon/docker:/home/lifailon/docker
  #     - ./dockman_config:/config
  #   ports:
  #     - 8866:8866

################################################### Images ###################################################

  # Auto-update docker images and restart containers
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    command: --interval 600 --http-api-metrics --http-api-update
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_NOTIFICATIONS=shoutrrr
      - WATCHTOWER_NOTIFICATIONS_HOSTNAME=<HOST_NAME>
      - WATCHTOWER_NOTIFICATION_URL=telegram://<BOT_API_KEY>@telegram/?channels=<CHAT/CHANNEL_ID>
      - WATCHTOWER_HTTP_API_TOKEN=demotoken
    ports:
      - 8088:8080 # api

  # Docker Image Update Notifier
  # diun:
  #   image: crazymax/diun:latest
  #   container_name: diun
  #   restart: always
  #   command: serve
  #   volumes:
  #     - ./diun_data:/data
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   environment:
  #     - TZ=Etc/GMT+3
  #     - LOG_LEVEL=info
  #     - LOG_JSON=false
  #     - DIUN_WATCH_WORKERS=20
  #     - DIUN_WATCH_SCHEDULE=0 */6 * * *
  #     - DIUN_WATCH_JITTER=30s
  #     - DIUN_PROVIDERS_DOCKER=true
  #     - DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT=true
  #     - DIUN_NOTIF_TELEGRAM_TOKEN=
  #     - DIUN_NOTIF_TELEGRAM_CHATIDS=
  #     # https://crazymax.dev/diun/faq/?h=entry#notification-template
  #     - DIUN_NOTIF_TELEGRAM_TEMPLATEBODY=Image {{ .Entry.Image }} in `{{ .Entry.Status }}` status
  #   labels:
  #     - diun.enable=true
  #   healthcheck:
  #     test: ["CMD", "diun", "notif", "test"]
  #     interval: 24h
  #     timeout: 10s
  #     retries: 1
  #     start_period: 30s

  # Watcher containers and registries and performing actions
  # wud:
  #   image: getwud/wud
  #   container_name: wud
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   ports:
  #     - 5002:3000

################################################### Logs ###################################################

  # Web interface for docker logs
  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./dozzle_data:/data
    environment:
      # Отключить сбор и отправку аналитики
      - DOZZLE_NO_ANALYTICS=true
      # Включить действия (start/stop/restart)
      - DOZZLE_ENABLE_ACTIONS=true
      # Включить доступ к терминалу работающих контейнеров
      - DOZZLE_ENABLE_SHELL=true
      # Включить базовую авторизацию из файла /data/users.yml
      - DOZZLE_AUTH_PROVIDER=simple
      # Подключиться к удаленному хосту через Docker Socket API
      # - DOZZLE_REMOTE_HOST=tcp://192.168.3.105:2375|rpi-105,tcp://192.168.3.106:2375|rpi-106
      # Подключиться к удаленному хосту через Dozzle Agent
      # - DOZZLE_REMOTE_AGENT=192.168.3.105:7007,192.168.3.106:7007
    ports:
      - 9090:8080

  # dozzle-agent:
  #   image: amir20/dozzle:latest
  #   container_name: dozzle-agent
  #   restart: always
  #   command: agent
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock:ro
  #   # environment:
  #   #   - DOZZLE_HOSTNAME=hv-us-101
  #   ports:
  #     - 7007:7007

  # dozzle-journald:
  #   image: debian:bookworm-slim
  #   container_name: dozzle-journald
  #   restart: always
  #   volumes:
  #     - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket:ro
  #     - /run/systemd/system:/run/systemd/system:ro
  #     - /run/systemd/journal/socket:/run/systemd/journal/socket:ro
  #     - /etc/machine-id:/etc/machine-id:ro
  #   command: 
  #     - sh
  #     - -c
  #     - |
  #       apt-get update && \
  #         DEBIAN_FRONTEND=noninteractive \
  #         apt-get install -y --no-install-recommends systemd \
  #       journalctl --no-pager --follow

  # dozzle-syslog:
  #   image: alpine
  #   container_name: dozzle-syslog
  #   restart: always
  #   volumes:
  #     - /var/log/syslog:/var/log/custom.log
  #   command:
  #     - tail
  #     - -f
  #     - /var/log/custom.log

  # Container for monitoring files from /var/log on host
  dozzle-varlog:
    image: lifailon/dozzle-varlog:latest
    container_name: dozzle-varlog
    restart: always
    volumes:
      - /var/log:/logs

################################################### Monitoring ###################################################

  # Web interface for monitoring hosts and containers metrics + webhook via shoutrrr
  beszel-server:
    image: henrygd/beszel:latest
    container_name: beszel-server
    restart: always
    extra_hosts:
      - host.docker.internal:host-gateway
    volumes:
      - ./beszel_server_data:/beszel_data
    ports:
      - 8090:8090

  # Agent for monitoring
  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: beszel-agent
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./beszel_agent_data:/var/lib/beszel-agent
      # - /mnt/disk/.beszel:/extra-filesystems/sda1:ro
    environment:
      - KEY=Копируем публичный ключ из интерфейса и перезапускаем docker compose
      - HUB_URL=http://beszel-server:8090
      - LISTEN=45876
    # ports:
    #   - 45876:45876

################################################### Proxy ###################################################

  docker-socket-proxy:
    image: lifailon/docker-socket-proxy:amd64
    container_name: docker-socket-proxy
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 2375:2375 # Docker API
      - 2376:2376 # HAProxy stats and Prometheus metrics
    environment:
      - SOCKET_PATH=/var/run/docker.sock
      - LOG_LEVEL=info
      - INFO=1
      - PING=1
      - VERSION=1
      - POST=1
      - GRPC=1
      - EXEC=1
      - ALLOW_RESTARTS=1
      - ALLOW_START=1
      - ALLOW_STOP=1
      - AUTH=1
      - CONTAINERS=1
      - IMAGES=1
      - NETWORKS=1
      - BUILD=1
      - COMMIT=1
      - DISTRIBUTION=1
      - EVENTS=1
      - PLUGINS=1
      - VOLUMES=1
      - SESSION=1
      # Swarm
      - SWARM=0             
      - NODES=0             
      - CONFIGS=0           
      - SECRETS=0           
      - SERVICES=0          
      - SYSTEM=0            
      - TASKS=0             
      # HAProxy stats and Prometheus metrics
      - STATS_USER=admin
      - STATS_PASS=admin
      - STATS_URI=/
      - METRICS_URI=/metrics

################################################### Registry ###################################################

  # sudo apt install apache2-utils -y && htpasswd -Bbn admin admin > ./creds
  # mkdir certs && \
  # openssl req -x509 -new -nodes -days 365 \
  #   -out ./certs/public.pem \
  #   -keyout ./certs/private.key \
  #   -subj "/C=RU/ST=MSK/L=MSK/O=Registry/OU=Registry/CN=registry.docker.local"

  # docker-registry:
  #   image: registry:latest
  #   container_name: docker-registry
  #   ports:
  #     - 5000:5000
  #   restart: unless-stopped
  #   volumes:
  #     - ./regrepo:/var/lib/registry
  #     - ./certs:/certs
  #     - ./creds:/creds
  #   environment:
  #     - REGISTRY_HTTP_TLS_CERTIFICATE=/certs/public.pem
  #     - REGISTRY_HTTP_TLS_KEY=/certs/private.key
  #     - REGISTRY_AUTH=htpasswd
  #     - REGISTRY_AUTH_HTPASSWD_REALM=docker-registry
  #     - REGISTRY_AUTH_HTPASSWD_PATH=/creds

  # mkdir nexus-data && chown -R 200:200 ./nexus-data && chmod -R u+rw ./nexus-data
  # sudo cat nexus-data/admin.password

  nexus:
    image: sonatype/nexus3:latest
    container_name: nexus
    restart: unless-stopped
    ports:
      - "8881:8081"
      - "8882:8082" # Settings => Repositories => Create repository => docker-hosted => HTTP
    volumes:
      - ./nexus_data:/nexus-data
    environment:
      - INSTALL4J_ADD_VM_PARAMS=-Xms1g -Xmx2g -XX:MaxDirectMemorySize=2g