services:
  # Auto-update docker images and restart containers
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_NOTIFICATIONS=shoutrrr
      - WATCHTOWER_NOTIFICATIONS_HOSTNAME=<HOST_NAME>
      - WATCHTOWER_NOTIFICATION_URL=telegram://<BOT_API_KEY>@telegram/?channels=<CHAT/CHANNEL_ID>
      - WATCHTOWER_HTTP_API_TOKEN=demotoken
    command: --interval 600 # --http-api-metrics # --http-api-token demotoken # --http-api-update
    # ports:
    #   - 9095:8080

  # Web interface for docker logs
  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./dozzle_data:/data
    environment:
      - DOZZLE_AUTH_PROVIDER=simple
      # Подключиться к удаленному хосту через Docker API (tcp socket)
      # - DOZZLE_REMOTE_HOST=tcp://192.168.3.101:2375|us-101
      # Подключиться к удаленному хосту через Dozzle Agent
      # - DOZZLE_REMOTE_AGENT=192.168.3.106:7007
    ports:
      - 9090:8080

  # Web interface for container metrics
  beszel-server:
    image: henrygd/beszel:latest
    container_name: beszel-server
    restart: unless-stopped
    extra_hosts:
      - host.docker.internal:host-gateway
    volumes:
      - ./beszel_data:/beszel_data
    ports:
      - 8090:8090

  # Agent for get metrics from containers
  beszel-agent:
    image: "henrygd/beszel-agent"
    container_name: "beszel-agent"
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # monitor other disks / partitions by mounting a folder in /extra-filesystems
      # - /mnt/disk/.beszel:/extra-filesystems/sda1:ro
    environment:
      LISTEN: 45876
      KEY: "Копируем публичный ключ из интерфейса и перезапускаем docker compose"
    # ports:
    #   - 45876:45876

  # Web interface for docker compose
  dockge:
    image: louislam/dockge:1
    container_name: dockge
    restart: unless-stopped
    volumes:
      # mkdir dockge_data
      - ./dockge_data:/app/data
      # Stacks directory
      - /home/lifailon:/home/lifailon
      # Docker API
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKGE_STACKS_DIR=/home/lifailon
      # Доступ к консоли dockge
      - DOCKGE_ENABLE_CONSOLE=true
    ports:
      - 5001:5001