kind: Secret
apiVersion: v1
metadata:
  name: headlamp-admin
  namespace: kubernetes-dashboard
  annotations:
    kubernetes.io/service-account.name: "headlamp-admin"
type: kubernetes.io/service-account-token