services:
  beszel-server:
    image: henrygd/beszel:latest
    container_name: beszel-server
    restart: unless-stopped
    extra_hosts:
      - host.docker.internal:host-gateway
    ports:
      - 8090:8090
    volumes:
      - ./beszel_data:/beszel_data

  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    # Мониторинг других дисков или разделов, монтируя директорию в /extra-filesystems
    # - /mnt/disk/.beszel:/extra-filesystems/sda1:ro 
    environment:
      PORT: 45876
      KEY: 'Копируем публичный ключ из интерфейса и перезапускаем docker-compose'
