# mkdir -p grafana_data && sudo chown -R 472:472 grafana_data
# mkdir -p prometheus_data && sudo chown -R 65534:65534 prometheus_data prometheus.yml alert-rules.yml alertmanager.yml telegram.tmpl
# mkdir -p loki_data && sudo chown -R 1000:1000 loki_data

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - 9091:3000
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=GrafanaAdmin # grafana-cli admin reset-admin-password newpassword
      # - GF_DATABASE_TYPE=postgres
      # - GF_DATABASE_HOST=postgres:5432
      # - GF_DATABASE_NAME=grafana
      # - GF_DATABASE_USER=grafana
      # - GF_DATABASE_PASSWORD=grafana
      # - GF_DATABASE_SSL_MODE=disable
    volumes:
      - ./grafana_data:/var/lib/grafana

  # postgres:
  #   image: postgres:latest
  #   container_name: postgres
  #   restart: unless-stopped
  #   environment:
  #     POSTGRES_DB: grafana
  #     POSTGRES_USER: grafana
  #     POSTGRES_PASSWORD: grafana
  #   volumes:
  #     - ./postgres_data:/var/lib/postgresql/data
  #   ports:
  #     - 5432:5432

  # База данных временных рядов для хранения метрик
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alert-rules.yml:/etc/prometheus/alert.yml
      - ./prometheus_data:/prometheus
    ports:
      - 9092:9090
    # dns:
    #   - 192.168.3.101

  # Система оповещений (например, в Telegram, поддерживает свой Web интерфейс)
  alertmanager:
    image: prom/alertmanager
    container_name: alertmanager
    restart: unless-stopped
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
      # Custom template
      - ./telegram.tmpl:/etc/alertmanager/telegram.tmpl
    ports:
      - 9093:9093
    command:
      - --config.file=/etc/alertmanager/alertmanager.yml

  # Веб-конструктор для анализа и визуализации запросов PromQL (уже встроен в интерфейс Prometheus)
  # promlens:
  #   image: prom/promlens
  #   container_name: promlens
  #   restart: unless-stopped
  #   ports:
  #     - 9094:8080

  # Автономный шлюз-экспорт для сбора метрик через API (выступает в роли listener для приема метрик из скриптов, как в InfluxDB)
  # pushgateway:
  #   image: prom/pushgateway:latest
  #   container_name: pushgateway
  #   restart: unless-stopped
  #   ports:
  #     - 9095:9091

################################################### Metrics ###################################################

  # Мониторинг ICMP, TCP, DNS, HTTP/HTTPS и gRPC для предоставления метрик в формате Prometheus (like Gatus).
  # http://blackbox:9115/probe?target=https://google.com&module=http
  blackbox:
    image: prom/blackbox-exporter:latest
    container_name: blackbox
    restart: unless-stopped
    volumes:
      - ./blackbox.yml:/etc/blackbox_exporter/config.yml
    ports:
      - 9115:9115
    command:
      - --config.file=/etc/blackbox_exporter/config.yml

  # Агент для сбора системных метрик Linux
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    # ports:
    #   - 9100:9100

  # Агент для сбора метрик запущенных процессов
  process-exporter:
    image: ncabatoff/process-exporter
    container_name: process-exporter
    restart: unless-stopped
    privileged: true
    volumes:
      - /proc:/host/proc
      - ./proc-conf.yml:/conf.yml
    # ports:
    #   - 9256:9256
    command:
      - -procfs
      - /host/proc
      - -config.path
      - /conf.yml

  # Агент для сбора метрик из контейнеров Docker от Google (поддерживает свой Web интерфейс для визуализации метрик)
  # cadvisor:
  #   image: gcr.io/cadvisor/cadvisor:latest
  #   container_name: cadvisor
  #   restart: unless-stopped
  #   volumes:
  #     - /:/rootfs:ro
  #     - /var/run:/var/run:rw
  #     - /sys:/sys:ro
  #     - /var/lib/docker/:/var/lib/docker:ro
  #   ports:
  #     - 8080:8080

  # Легковесный агент для сбора метрик из контейнеров Docker
  logporter:
    image: lifailon/logporter:latest
    container_name: logporter
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    # ports:
    #   - 9333:9333

################################################### Logs ###################################################

  # Система агрегации логов
  loki-server:
    image: grafana/loki:latest
    container_name: loki-server
    restart: unless-stopped
    user: "root"
    volumes:
      - ./loki-server.yml:/etc/loki/loki-config.yaml
      - ./loki_data:/loki
    # Порт нужен для внешних агентов и api: http://loki-server:3100/loki/api/v1/labels
    ports:
      - 3100:3100

  # Агент для сбора логов
  loki-promtail:
    image: grafana/promtail:latest
    container_name: loki-promtail
    restart: unless-stopped
    volumes:
      - /var/log:/var/log:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./loki-promtail.yml:/etc/promtail/promtail.yml
    command: -config.file=/etc/promtail/promtail.yml
    # ports:
    #   - 9080:9080