services:
  # Frontend для отображения метрик
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - 9091:3000
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      # - GF_DATABASE_TYPE=postgres
      # - GF_DATABASE_HOST=postgres:5432
      # - GF_DATABASE_NAME=grafana
      # - GF_DATABASE_USER=grafana
      # - GF_DATABASE_PASSWORD=grafana
      # - GF_DATABASE_SSL_MODE=disable
    volumes:
      - grafana_data:/var/lib/grafana

  # postgres:
  #   image: postgres:latest
  #   container_name: postgres
  #   restart: unless-stopped
  #   environment:
  #     POSTGRES_DB: grafana
  #     POSTGRES_USER: grafana
  #     POSTGRES_PASSWORD: grafana
  #   volumes:
  #     - ./postgres_data:/var/lib/postgresql/data
  #   ports:
  #     - 5432:5432

  # Backend для хранения метрик
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alert-rules.yml:/etc/prometheus/alert.yml
      - prometheus_data:/prometheus
    ports:
      - 9092:9090

  # Система оповещений в Telegram (поддерживает свой Web интерфейс)
  alertmanager:
    image: prom/alertmanager
    container_name: alertmanager
    restart: unless-stopped
    command:
      - --config.file=/etc/alertmanager/alertmanager.yml
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
      # Custom template
      - ./telegram.tmpl:/etc/alertmanager/telegram.tmpl
    # ports:
    #   - 9093:9093

  # Агент для сбора системных метрик
  # Grafana import dashboard id: 1860 (https://grafana.com/grafana/dashboards/1860-node-exporter-full)
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    # ports:
    #   - 9100:9100

  # Агент для сбора метрик из контейнеров Docker от Google (поддерживает свой Web интерфейс)
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: unless-stopped
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
  #   ports:
  #     - 9094:8080

  # Легковесный агент для сбора базовых и кастомных метрик из контейнеров Docker
  # Grafana import dashboard id: 23573 (https://grafana.com/grafana/dashboards/23573-docker-exporter-logporter)
  logporter:
    image: lifailon/logporter:latest
    container_name: logporter
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    # ports:
    #   - 9333:9333

  # Система агригации логов
  loki-server:
    image: grafana/loki:latest
    container_name: loki-server
    restart: unless-stopped
    user: "root"
    volumes:
      - loki_data:/loki
    # Порт нужен для внешних агентов и api: http://loki-server:3100/loki/api/v1/labels
    ports:
      - 3100:3100

  # Агент для сбора логов
  loki-promtail:
    image: grafana/promtail:latest
    container_name: loki-promtail
    restart: unless-stopped
    volumes:
      - /var/log:/var/log:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./loki-promtail.yml:/etc/promtail/promtail.yml
    command: -config.file=/etc/promtail/promtail.yml

volumes:
  grafana_data:
  prometheus_data:
  loki_data: