services:
  # Платформа для управлени SSH-подключениями с доступом к файлам и мониторингом ресурсов
  termix:
    image: ghcr.io/lukegus/termix:latest
    container_name: termix
    restart: unless-stopped
    environment:
      PORT: 8080
    ports:
      - 6988:8080
    volumes:
      - ./termix_data:/app/data

  # kkterminal:
  #   image: zyyzyykk/kkterminal:latest
  #   container_name: kkterminal
  #   restart: unless-stopped
  #   ports:
  #     - 6989:3000
  #   environment:
  #     - BANNER=kkTerminal
  #     - STORAGE=P5P1SIqVe6kaOxMX
  #     - PASSWORD=admin
  #   volumes:
  #     - ./cloud_data:/cloud

  # Подключение к RDP, VNC, SSH и управление файлами через SFTP в браузере от создателя MySpeed
  nexterm:
    image: germannewsmaker/nexterm:latest
    container_name: nexterm
    restart: unless-stopped
    environment:
      # head -c 32 /dev/urandom | base64 || openssl rand -base64 32
      # head -c 32 /dev/urandom | xxd -p -c 32 || openssl rand -hex 32
      - ENCRYPTION_KEY=9dbde894647845ab33e13a9334cdbadc5f8d22abe42df0b3daff431eec0df870
    ports:
      - 6989:6989
    volumes:
      - ./nexterm_data:/app/data

  # Сервер лицензирования
  licenseapi:
    image: germannewsmaker/licenseapi:development
    container_name: nexlicenseapiterm
    restart: unless-stopped
    environment:
      - MONGOOSE_STRING=mongodb://licenseapi-mongo:27017/licenseapi
      - MAIL_SERVER=smtp.gmail.com
      - MAIL_PORT=587
      - MAIL_USER=noreply@gmail.com
      - MAIL_PASS=password
      - APP_URL=http://localhost:8025
      - DISABLE_SIGNUPS=false
    ports:
      - 8025:8025
    depends_on:
      - licenseapi-mongo

  licenseapi-mongo:
    image: mongo:latest
    container_name: licenseapi-mongo
    restart: unless-stopped
    volumes:
      - ./licenseapi_mongo_data:/data/db

############################################################ Tools ############################################################

  # Большая коллекция утилит для разработчиков (криптография, конверторы, веб инструменты и многое другое).
  it-tools:
    image: corentinth/it-tools:latest
    container_name: it-tools
    restart: unless-stopped
    ports:
      - 6990:80

  # Универсальный инструмент для шифрования, кодирования, сжатия и анализа данных
  cyberchef:
    image: mpepping/cyberchef:latest
    container_name: cyberchef
    restart: unless-stopped
    ports:
      - 6990:8000

  # Универсальный веб-конвертор
  transform:
    image: lifailon/transform:amd64
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    container_name: transform
    restart: unless-stopped
    ports:
      - 3090:3000

  # Инструмент для сжатия, изменения разрешения и конвертации изображений
  mazanoke:
    image: ghcr.io/civilblur/mazanoke:latest
    container_name: mazanoke
    restart: unless-stopped
    ports:
      - 3474:80

  # Веб-приложение для визуализации JSON, YAML, XML и CSV в интерактивные графики
  jsoncrack:
    image: shokohsc/jsoncrack:latest
    container_name: jsoncrack
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    # Доступ через Proxy по FQDN
    # ports:
    #   - 3080:8080
    labels:
      - traefik.enable=true

############################################################ Playground ############################################################

  # Улучшенная игровая площадка для запуска кода на Go
  go-playground:
    image: x1unix/go-playground:latest
    container_name: go-playground
    restart: unless-stopped
    environment:
      - APP_CLEAN_INTERVAL=30m
    ports:
      - 9444:8000

  # Игровая площадка для тестирования шаблонизатора Go
  go-template-playground:
    image: ghcr.io/rytsh/repeatit:latest
    # image: lifailon/go-template-playground:latest # 0.5.5-amd64
    container_name: go-template-playground
    restart: unless-stopped
    stdin_open: true
    tty: true
    ports:
      - 9445:8080

  # Backlog
  # https://github.com/shipmight/helm-playground
  # https://github.com/dainiak/jinja2-playground

############################################################ IDE ############################################################

  # VSCode в браузере
  code-server:
    image: linuxserver/code-server:latest
    container_name: code-server
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/GMT+3
      - PASSWORD=CodeServerAdmin
    volumes:
      - ./vscode_config:/config
      - $HOME:/home
    ports:
      - 9443:8443

  # IDE в браузере
  judge0-server:
    image: judge0/judge0:latest
    container_name: judge0-server
    restart: unless-stopped
    volumes:
      - ./judge0.conf:/judge0.conf:ro
    ports:
      - "2358:2358"
    privileged: true

  judge0-worker:
    image: judge0/judge0:latest
    container_name: judge0-worker
    restart: unless-stopped
    command: ["./scripts/workers"]
    volumes:
      - ./judge0.conf:/judge0.conf:ro
    privileged: true

  judge0-db:
    image: postgres:16.2
    container_name: judge0-db
    restart: unless-stopped
    env_file: judge0.conf
    volumes:
      - ./judge0_data:/var/lib/postgresql/data/

  judge0-redis:
    image: redis:7.2.4
    container_name: judge0-redis
    restart: unless-stopped
    command: [
      "bash", "-c",
      'docker-entrypoint.sh --appendonly no --requirepass "$$REDIS_PASSWORD"'
    ]
    env_file: judge0.conf