services:
  code-server:
    image: linuxserver/code-server:latest
    container_name: code-server
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/GMT+3
      - PASSWORD=CodeServerAdmin
    volumes:
      - ./vscode_config:/config
      - $HOME:/home
    ports:
      - 10443:8443

  go-playground:
    image: x1unix/go-playground:latest
    container_name: go-playground
    restart: unless-stopped
    environment:
      - APP_CLEAN_INTERVAL=30m
    ports:
      - 10444:8000

  it-tools:
    image: corentinth/it-tools:latest
    container_name: it-tools
    restart: unless-stopped
    ports:
      - 10445:80

  # dashy:
  #   image: lissy93/dashy:latest
  #   container_name: dashy
  #   restart: unless-stopped
  #   ports:
  #     - 10446:8080
  #   environment:
  #     - NODE_ENV=production

  # heimdall:
  #   image: lscr.io/linuxserver/heimdall:latest
  #   container_name: heimdall
  #   restart: unless-stopped
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Etc/GMT+3
  #     - ALLOW_INTERNAL_REQUESTS=true
  #   volumes:
  #     - ./heimdall_config:/config
  #   ports:
  #     - 10446:443