volumes:
  smb_volume:
    driver_opts:
      type: cifs
      o: username=guest,password=,uid=1000,gid=1000
      device: //192.168.3.100/docker-data/torrent

services:
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/GMT+3
    volumes:
      - ./jackett_conf:/config
    ports:
      - 9117:9117

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/GMT+3
      - USER=
      - PASS=
    volumes:
      - ./transmission_conf:/config
      - ./torrent_watch:/watch
      - smb_volume:/downloads
    ports:
      - 9118:9091
      - 51413:51413
      - 51413:51413/udp

  # qbittorrent:
  #   image: lscr.io/linuxserver/qbittorrent:latest
  #   container_name: qbittorrent
  #   restart: unless-stopped
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Etc/GMT+3
  #     - WEBUI_PORT=3240
  #     - TORRENTING_PORT=6881
  #   volumes:
  #     - ./qbittorrent_conf:/config
  #     - smb_volume:/downloads
  #   ports:
  #     - 3240:3240
  #     - 6881:6881
  #     - 6881:6881/udp

  # cloud-torrent:
  #   image: jpillora/cloud-torrent:latest
  #   container_name: cloud-torrent
  #   restart: unless-stopped
  #   ports:
  #     - 3010:3000
  #   volumes:
  #     - smb_volume:/downloads

  # sonarr:
  #   image: lscr.io/linuxserver/sonarr:latest
  #   container_name: sonarr
  #   restart: unless-stopped
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Etc/UTC+3
  #   volumes:
  #     - ./sonnar_conf:/config
  #     - smb_volume:/tv
  #     - ./sonarr_downloads:/downloads
  #   ports:
  #     - 8989:8989

  # jellyfin:
  #   image: lscr.io/linuxserver/jellyfin:latest
  #   container_name: jellyfin
  #   restart: unless-stopped
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Etc/GMT+3
  #   volumes:
  #     - ./jellyfin_conf/jellyfin:/config
  #     - ./jellyfin-content/tvshows:/data/tvshows
  #     - ./jellyfin-content/movies:/data/movies
  #   ports:
  #     - 8096:8096
  #     - 7359:7359/udp
  #     - 1900:1900/udp

  # plex:
  #   image: lscr.io/linuxserver/plex:latest
  #   container_name: plex
  #   network_mode: host
  #   restart: unless-stopped
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Etc/GMT+3
  #     - VERSION=docker
  #   volumes:
  #     - ./plex_conf:/config
  #     - smb_volume:/movies
  #   ports:
  #     - 32400:32400
  #     - 1900:1900/udp
  #     - 5353:5353/udp
  #     - 8324:8324
  #     - 32410:32410/udp
  #     - 32412:32412/udp
  #     - 32413:32413/udp
  #     - 32414:32414/udp
  #     - 32469:32469