volumes:
  smb_volume:
    driver_opts:
      type: cifs
      o: username=guest,password=,uid=1000,gid=1000
      device: //192.168.3.100/plex-content

services:
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC+3
    volumes:
      - ./jackett_conf:/config
    ports:
      - 9117:9117

  kinozal-bot:
    image: lifailon/kinozal-bot:latest
    container_name: kinozal-bot
    restart: unless-stopped
    volumes:
      - ./torrents:/kinozal-bot/torrents
      - ./kinozal-bot.conf:/kinozal-bot/kinozal-bot.conf

################################################### RSS Reader ###################################################

  freshrss:
    image: lscr.io/linuxserver/freshrss:latest
    container_name: freshrss
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ./freshrss_config:/config
    ports:
      - 9111:80

################################################### Torrent Client ###################################################

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    # Official Docker Image
    # image: qbittorrentofficial/qbittorrent-nox:latest
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC+3
      - WEBUI_PORT=3240
      - TORRENTING_PORT=6881
    volumes:
      - ./qbittorrent_conf:/config
      - smb_volume:/downloads
    ports:
      - 3240:3240
      - 6881:6881
      - 6881:6881/udp

  qbittoreent-swagger:
    image: docker.swagger.io/swaggerapi/swagger-ui
    container_name: qbittoreent-swagger
    restart: unless-stopped
    ports:
      - 3241:8080
    environment:
      - SWAGGER_JSON_URL=https://raw.githubusercontent.com/qbittorrent-ecosystem/webui-api-openapi/refs/heads/master/specs/v2.8.3/build/openapi.yaml
    depends_on:
      - qbittorrent

  # transmission:
  #   image: lscr.io/linuxserver/transmission:latest
  #   container_name: transmission
  #   restart: unless-stopped
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Etc/UTC+3
  #     - USER=
  #     - PASS=
  #   volumes:
  #     - ./transmission_conf:/config
  #     - smb_volume:/downloads
  #     - ./torrent_watch:/watch
  #   ports:
  #     - 9118:9091
  #     - 51413:51413
  #     - 51413:51413/udp

  # Web UI for integration Jackett and Transmission
  nefarious:
    image: lardbit/nefarious:latest
    container_name: transmission
    restart: unless-stopped
    ports:
      - 9119:80
    environment:
      - DATABASE_URL=sqlite:////nefarious-db/db.sqlite3
      - REDIS_HOST=nefarious-redis
      - NEFARIOUS_USER=admin
      - NEFARIOUS_PASS=admin
      - HOST_DOWNLOAD_PATH=/tmp/
      - CONFIG_PATH=/nefarious-db
    volumes:
      - ./nefarious_data:/nefarious-db

  nefarious-redis:
    image: redis
    container_name: nefarious-redis
    restart: unless-stopped
    mem_limit: 200m
    expose:
      - 6379
    # ports:
    #  - 6379:6379

  # deluge:
  #   image: lscr.io/linuxserver/deluge:latest
  #   container_name: deluge
  #   restart: unless-stopped
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Etc/UTC+3
  #     - DELUGE_LOGLEVEL=error
  #   volumes:
  #     - ./deluge_config:/config
  #     - smb_volume:/downloads
  #   ports:
  #     - 8112:8112
  #     - 6881:6881
  #     - 6881:6881/udp
  #     - 58846:58846

  # cloud-torrent:
  #   image: jpillora/cloud-torrent:latest
  #   container_name: cloud-torrent
  #   restart: unless-stopped
  #   ports:
  #     - 3010:3000
  #   volumes:
  #     - smb_volume:/downloads

  # rqbit:
  #   image: ikatson/rqbit:main
  #   network_mode: host
  #   ports:
  #     - 3030:3030 # API
  #     - 4240:4240 # BitTorrent
  #   environment:
  #     RQBIT_UPNP_SERVER_ENABLE: "true"
  #     RQBIT_UPNP_SERVER_FRIENDLY_NAME: rqbit-docker
  #     RQBIT_HTTP_API_LISTEN_ADDR: 0.0.0.0:3030
  #   volumes:
  #     - ./rqbit_db:/home/rqbit/db
  #     - ./rqbit_cache:/home/rqbit/cache
  #     - smb_volume:/home/rqbit/downloads

################################################### Media Server ###################################################
  plex:
    image: lscr.io/linuxserver/plex:latest
    # Official Docker Image
    # image: plexinc/pms-docker
    container_name: plex
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC+3
      - VERSION=docker
      - PLEX_CLAIM= # from https://plex.tv/claim
    volumes:
      - ./plex_conf:/config
      - smb_volume:/tv
      - smb_volume:/movies
      # use Official Docker Image
      # - ./plex_conf:/config
      # - ./plex_transcode:/transcode
      # - smb_volume:/data
    ports:
      - 32400:32400
      - 1900:1900/udp
      - 5353:5353/udp
      - 8324:8324
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
      - 32469:32469

  # Monitoring and tracking tool for Plex
  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC+3
    volumes:
      - ./tautulli_conf:/config
    ports:
      - 8181:8181

  # Request management and media discovery tool for the Plex
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC+3
    volumes:
      - ./overseerr_conf:/config
    ports:
      - 5055:5055

  # jellyfin:
  #   image: lscr.io/linuxserver/jellyfin:latest
  #   container_name: jellyfin
  #   restart: unless-stopped
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Etc/UTC+3
  #   volumes:
  #     - ./jellyfin_conf/jellyfin:/config
  #     - ./jellyfin-content/tvshows:/data/tvshows
  #     - ./jellyfin-content/movies:/data/movies
  #   ports:
  #     - 8096:8096
  #     - 7359:7359/udp
  #     - 1900:1900/udp

  # ums:
  #   image: universalmediaserver/ums
  #   container_name: ums
  #   restart: unless-stopped
  #   environment:
  #     - TZ=Etc/UTC+3
  #     - UMS_PROFILE=/profile
  #   volumes:
  #     - ./ums_conf:/profile
  #     - ./ums-content:/media:ro
  #   ports:
  #     - 1044:1044
  #     - 5001:5001
  #     - 9001:9001
  #     - 1900:1900/udp
  #     - 2869:2869
  #     - 8000-8010:8000-8010

################################################### PVR ###################################################

  # sonarr:
  #   image: lscr.io/linuxserver/sonarr:latest
  #   container_name: sonarr
  #   restart: unless-stopped
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Etc/UTC+3
  #   volumes:
  #     - ./sonnar_conf:/config
  #     - smb_volume:/tv
  #     - ./sonarr_downloads:/downloads
  #   ports:
  #     - 8989:8989

  # radarr:
  #   image: lscr.io/linuxserver/radarr:latest
  #   container_name: radarr
  #   restart: unless-stopped
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Etc/UTC+3
  #   volumes:
  #     - ./radarr_conf:/config
  #     - smb_volume:/movies
  #     - ./sonarr_downloads:/downloads
  #   ports:
  #     - 7878:7878

  # prowlarr:
  #   image: lscr.io/linuxserver/prowlarr:latest
  #   container_name: prowlarr
  #   restart: unless-stopped
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Etc/UTC+3
  #   volumes:
  #     - ./prowlarr_conf:/config
  #   ports:
  #     - 9696:9696