services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: always
    environment:
      HOMEPAGE_ALLOWED_HOSTS: "*"
      PUID: 0
      PGID: 0
    ports:
      - 5005:3000
    volumes:
      - ./homepage_config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - $HOME/.kube/config:/root/.kube/config:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.homepage.rule=Host(`home.docker.local`)
      - traefik.http.routers.homepage.middlewares=authentik@file

  glances:
    image: nicolargo/glances:latest-full
    container_name: glances
    restart: always
    pid: host
    # stdin_open: true
    # tty: true
    # network_mode: host
    environment:
      - GLANCES_OPT=-w # --export prometheus
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # - /run/user/1000/podman/podman.sock:/run/user/1000/podman/podman.sock:ro
      # - ./glances.conf:/glances/conf/glances.conf
    ports:
      - 61208-61209:61208-61209
      # - 9091:9091
    labels:
      - homepage.group=Docker Containers
      - homepage.name=Glances
      - homepage.icon=glances.png
      - homepage.href=http://glances.docker.local