services:
  mongodb:
    image: mongo:4.2
    container_name: mongodb
    restart: unless-stopped

  elasticsearch:
    image: secureimages/elasticsearch-oss:7.10.2-alpine-3.13.2
    container_name: elasticsearch
    restart: unless-stopped
    environment:
      - discovery.type=single-node

  graylog:
    image: graylog/graylog:4.0
    container_name: graylog
    restart: unless-stopped
    environment:
      # head -c 96 /dev/urandom | base64
      - GRAYLOG_PASSWORD_SECRET=somesecret123
      # echo -n "admin" | sha256sum | tr -d ' -'
      - GRAYLOG_ROOT_PASSWORD_SHA2=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
      - GRAYLOG_HTTP_BIND_ADDRESS=0.0.0.0:9000
      - GRAYLOG_HTTP_EXTERNAL_URI=http://127.0.0.1:9000/
      - GRAYLOG_MONGODB_URI=mongodb://mongodb:27017/graylog
      - GRAYLOG_ELASTICSEARCH_HOSTS=http://127.0.0.1:9200
    ports:
      - 9000:9000         # Web UI
      - 514:514/tcp       # Syslog TCP Server input
      - 514:514/udp       # Syslog UDP Server input
      - 5044:5044/tcp     # Beats input
      - 12201:12201/tcp   # GELF TCP
      - 12201:12201/udp   # GELF UDP
    volumes:
      - ./graylog_data:/usr/share/graylog/data
    depends_on:
      - mongodb
      - elasticsearch