services:
{% if node_exporter == true %}
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    ports:
      - {{ node_exporter_port }}:9100
{% endif %}

{% if cadvisor == true %}
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    restart: unless-stopped
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - {{ cadvisor_port }}:8080
{% endif %}

{% if logporter == true %}
  logporter:
    image: lifailon/logporter:latest
    container_name: logporter
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - {{ logporter_port }}:9333
{% endif %}

{% if loki_promtail == true %}
  loki-promtail:
    image: grafana/promtail:latest
    container_name: loki-promtail
    restart: unless-stopped
    volumes:
      - /var/log:/var/log:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./loki-promtail.yml:/etc/promtail/promtail.yml
    command: -config.file=/etc/promtail/promtail.yml
    ports:
      - {{ loki_promtail_port }}:9080
{% endif %}

{% if dozzle == true %}
  dozzle-agent:
    image: amir20/dozzle:latest
    command: agent
    container_name: dozzle-agent
    environment:
      - DOZZLE_HOSTNAME={{ inventory_hostname }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - {{ dozzle_port }}:7007
{% endif %}

{% if beszel == true %}
  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      PORT: 45876
      KEY: {{ beszel_key }}
    ports:
      - {{ beszel_port }}:45876
{% endif %}

{% if watchtower == true %}
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_NOTIFICATIONS=shoutrrr
      - WATCHTOWER_NOTIFICATIONS_HOSTNAME={{ inventory_hostname }}
      - WATCHTOWER_NOTIFICATION_URL=telegram://{{ telegram_bot_api_key }}@telegram/?channels={{ telegram_chat_id }}
    command: --interval 600
{% endif %}