services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      # DNS Ports
      - "53:53/tcp"
      - "53:53/udp"
      # HTTP Port
      - "7777:80/tcp"
      # HTTPS Port (FTL будет генерировать самоподписанный сертификат)
      # - "443:443/tcp"
      # DHCP Server Port
      #- "67:67/udp"
    environment:
      TZ: 'Europe/Moscow'
      FTLCONF_webserver_api_password: 'PiHoleAdmin' # docker logs pihole | grep random
      FTLCONF_dns_upstreams: '8.8.8.8;8.8.4.4' # DNS-сервера верхнего уровня, на которые пересылаются запросы
    volumes:
      # Для сохранения базы данных и общего конфигурационного файла
      - './etc-pihole:/etc/pihole'
      # Использовать при миграции, если есть пользовательские файлы конфигурации DNSMASQ, не требуется с PI-Hole v6
      # - './etc-dnsmasq.d:/etc/dnsmasq.d'
    # Требуется только для использования Pi-Hole в качестве DHCP сервера
    # cap_add:
      # - NET_ADMIN
    restart: unless-stopped
    # Пробросить хостовую сеть без NAT
    # network_mode: host
    # Изменить в конфигурации прослушивание на всех интерфейсах (Ошибка: Ignoring query from non-local network)
    # etc-pihole/pihole.toml
    # listeningMode = "ALL"

  pihole-exporter:
    container_name: pihole-exporter
    image: ekofr/pihole-exporter:latest
    environment:
      PIHOLE_HOSTNAME: 'pihole'
      PIHOLE_PASSWORD: 'PiHoleAdmin'
      PIHOLE_API_TOKEN: 'PiHoleAdmin'
      INTERVAL: '90s'
      PORT: '9617'
    ports:
      - "9617:9617"
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "5"
    healthcheck:
      test: ["CMD", "wget", "--tries=1", "--spider", "http://localhost:9617/metrics"]
      interval: 300s
      retries: 5
      timeout: 10s
    restart: unless-stopped
