services:
  # RSyslog server and WebUI based on PimpMyLog 
  rsyslog-gui:
    image: aguyonnet/rsyslog-gui
    container_name: rsyslog-gui
    restart: unless-stopped
    volumes:
      - ./rsyslog_data:/var/log/net
    ports:
      - 5141:80
      - 514:514/udp
    environment:
      - SYSLOG_USERNAME=admin
      - SYSLOG_PASSWORD=admin
    healthcheck:
      test:
        - CMD-SHELL
        - logger -n localhost -t rsyslog-gui -p user.info "healthcheck"
      start_period: 20s
      interval: 3s
      retries: 3
      timeout: 3s