services:
  kanboard:
    image: kanboard/kanboard:latest
    container_name: kanboard
    restart: unless-stopped
    ports:
     - 8080:80
     - 4343:443
    volumes:
     - ./kanboard_data:/var/www/app/data
     - ./kanboard_plugins:/var/www/app/plugins
    #  - ./kanboard_certs:/etc/nginx/ssl
    # environment:
    #   DATABASE_URL: postgres://kanboard:KanboardAdmin@kanboard-db/kanboard
    # depends_on:
    #   db:
    #     condition: service_healthy

  # kanboard-db:
  #   image: postgres:latest
  #   restart: always
  #   environment:
  #     POSTGRES_DB: kanboard
  #     POSTGRES_USER: kanboard
  #     POSTGRES_PASSWORD: KanboardAdmin
  #   volumes:
  #     - ./kanboard_database:/var/lib/postgresql/data
  #   healthcheck:
  #     test: ["CMD", "pg_isready", "-U", "kanboard"]
  #     start_period: 15s
  #     interval: 10s
  #     timeout: 5s