services:
  planka-web:
    image: ghcr.io/plankanban/planka:2.0.0-rc.3
    container_name: planka-web
    restart: unless-stopped
    environment:
      - BASE_URL=http://localhost:1337
      # Database connection
      # - DATABASE_URL=postgresql://postgres@planka-db/planka
      - DATABASE_URL=postgresql://postgres:postgres@planka-db/planka
      # - DATABASE_URL=postgresql://postgres:$${DATABASE_PASSWORD}@planka-db/planka
      # - DATABASE_PASSWORD__FILE=/run/secrets/database_password
      # secrets:
      #   - database_password
      # WPA Key (openssl rand -hex 64)
      - SECRET_KEY=c74fd30800bc3c742ba368e396b87409edc7613e3ee58deee00992c3c4b98ec9eb154d441f143e28b4716287ba31d3699ee09f7e101cfe6c98872102ea622a76
      # - SECRET_KEY__FILE=/run/secrets/secret_key
      # Web credentials
      - DEFAULT_ADMIN_EMAIL=admin@admin.com
      - DEFAULT_ADMIN_PASSWORD=admin
      - DEFAULT_ADMIN_NAME=Admin
      - DEFAULT_ADMIN_USERNAME=admin
      # Webhooks
      # - |
      #   WEBHOOKS=[{
      #     "url": "http://localhost:3001",
      #     "accessToken": "notaccesstoken",
      #     "events": ["cardCreate", "cardUpdate", "cardDelete"],
      #     "excludedEvents": ["notificationCreate", "notificationUpdate"]
      #   }]
    depends_on:
      planka-db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:1337"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - ./planka-data/favicons:/app/public/favicons
      - ./planka-data/user-avatars:/app/public/user-avatars
      - ./planka-data/background-images:/app/public/background-images
      - ./planka-data/attachments:/app/private/attachments
    ports:
      - 1337:1337
    labels:
      - "com.centurylinklabs.watchtower.enable=false"

  planka-db:
    image: postgres:16-alpine
    container_name: planka-db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=planka
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d planka"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./planka-db:/var/lib/postgresql/data