apiVersion: v1
kind: ConfigMap
metadata:
  name: gatus
  namespace: kube-system
data:
  config.yaml: |
    metrics: true
    endpoints:
      - name: Google
        group: ping
        url: "icmp://8.8.8.8"
        interval: 5s
        conditions:
          - "[CONNECTED] == true"

      - name: "Kinozal Proxy"
        group: vercel
        url: "https://kinozal.vercel.app"
        interval: 5m
        conditions:
          - "[CERTIFICATE_EXPIRATION] > 168h"
          - "[RESPONSE_TIME] < 2s"
          - "[BODY] == pat(*only curl agent*)"

      - name: "TorAPI Provider List"
        group: vercel
        url: "https://torapi.vercel.app/api/provider/list"
        interval: 5m
        conditions:
          - "[STATUS] == 200"
          - "[CERTIFICATE_EXPIRATION] > 168h"
          - "[RESPONSE_TIME] < 2s"
          - "len([BODY]) == 4"
          - "len([BODY].[0].Urls) == 3"
          - "[BODY].[0].Provider == RuTracker"
          - "[BODY].[0].Provider == pat(*Tracker)"
          - "[BODY].[0].Provider == any(rutracker, RuTracker)"

      - name: "TorAPI Provider Check"
        group: vercel
        url: "https://torapi.vercel.app/api/provider/list"
        interval: 5m
        conditions:
          - "[STATUS] == 200"
          - "[CERTIFICATE_EXPIRATION] > 168h"
          - "[RESPONSE_TIME] < 2s"
          - "has([BODY].0.RuTracker) == true"
          - "has([BODY].0.Kinozal) == true"
          - "has([BODY].0.RuTor) == true"
          - "has([BODY].0.NoNameClub) == true"

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gatus
  namespace: kube-system

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gatus
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gatus
  template:
    metadata:
      name: gatus
      namespace: kube-system
      labels:
        app: gatus
    spec:
      serviceAccountName: gatus
      terminationGracePeriodSeconds: 5
      containers:
        - image: twinproduction/gatus
          imagePullPolicy: IfNotPresent
          name: gatus
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          resources:
            limits:
              cpu: 250m
              memory: 100M
            requests:
              cpu: 50m
              memory: 30M
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 5
          volumeMounts:
            - mountPath: /config
              name: gatus-config
      volumes:
        - configMap:
            name: gatus
          name: gatus-config

---
apiVersion: v1
kind: Service
metadata:
  name: gatus
  namespace: kube-system
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: gatus