[Unit]
Description=icmp test output to log file
After=network.target

[Service]
ExecStart=/bin/bash "/root/icmp-test-log.sh"
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target