[Unit]
Description=Collection metrics iostat from the set sysstat for send to influxdb
After=network.target

[Service]
ExecStart=/bin/bash "/root/iostat-to-influxdb.sh"
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target