---
services:
  godoxy-frontend:
    image: ghcr.io/yusing/godoxy-frontend:latest
    container_name: godoxy-frontend
    restart: unless-stopped
    env_file: .env
    environment:
      PORT: ${GODOXY_FRONTEND_PORT:-3000}
    labels:
      proxy.aliases: godoxy
      proxy.godoxy.port: ${GODOXY_FRONTEND_PORT:-3000}
      # proxy.godoxy.middlewares.cidr_whitelist: |
      #   status: 403
      #   message: IP not allowed
      #   allow:
      #     - 127.0.0.1
      #     - 192.168.0.0/16
    depends_on:
      - godoxy-backend
    network_mode: host

  godoxy-backend:
    image: ghcr.io/yusing/godoxy:latest
    container_name: godoxy-backend
    restart: unless-stopped
    env_file: .env
    environment:
      GODOXY_API_JWT_SECURE: false
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config:/app/config
      - ./logs:/app/logs
      - ./error_pages:/app/error_pages
      - ./data:/app/data
      - ./certs:/app/certs
      # remove "./certs:/app/certs" and uncomment below to use existing certificate
      # - /path/to/certs/cert.crt:/app/certs/cert.crt
      # - /path/to/certs/priv.key:/app/certs/priv.key
    network_mode: host
