services:
  # CIFS/SMB Server (smbd 4.22.6)
  samba:
    image: dockurr/samba
    container_name: samba
    restart: always
    ports:
      - 445:445
    environment:
      - NAME=docker
      - USER=admin
      - PASS=admin
    volumes:
      - /home/lifailon:/storage

  # Backup (sync mode) to remote SMB server (Windows Share)
  rclone:
    image: pfidr/rclone
    container_name: rclone
    restart: always
    volumes:
      - ./rclone.conf:/config/rclone.conf:ro
      - /home/lifailon/docker:/backup:ro
    environment:
      - MODE=sync
      - SYNC_SRC=/backup/homepage
      - SYNC_DEST=backup_to_smb:/backup
      - SYNC_OPTS=-vv --create-empty-src-dirs
      - FORCE_SYNC=1
      - CRON=0 9,19 * * *
      - TZ=Etc/GMT-3